<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Chuyen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<h1>Hello!!</h1>
<a href="/Product/list">Product list</a>
<a href="/Product/add">Add product </a>
<a href="/Product/update">Update product </a>

</body>
</html>